*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* place-items:center; */
    animation: theme 10s linear alternate;

}
/* infinite */


@keyframes theme {
    0% {
        background: #3b3b3b;
    }
    
    16% {
        background:gray;
    }
    
    33% {
        background: #ffffff;
    }
    
    50% {
        background:black;
    }
     66% {
        background:gray;
    }    
    
    /* 83% {
        background:#ffffff;
    }  */

    100% {
        background: #ffffff;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}